*{
    margin: 0;
    padding: 0;
}
 /* Estilo para los cuadros GRANDES */
*{margin: 0;padding: 0;box-sizing: border-box; font font-family: "sans-serif";}
 .cuadro {
    width: 100%;
    display: flex;
   justify-content: center;
   align-items: center;
    height: 105vh;
    position: relative;
   
}
.cuadro figure{
    position: relative;
    height: 550px;
    width: 350px;
    overflow: hidden;
    border-radius: 6px;
    box-shadow: 0px 15px 25px rgba(255, 243, 243, 0.5);
    cursor: pointer;
}
.cuadro figure img{
    width: 100%;
    height: 100%;
    transition: all 1000ms ease-out;
}


.segundo{
    background: rgba(70, 82, 25, 0.6);
}
.cuadro figure:hover > .capa1,
.cuadro figure:hover > .capa2,
.cuadro figure:hover > .capa3{
    opacity: 5;
    visibility: visible;
}

    
.cuadro figure .capa1,
.cuadro figure .capa2,
.cuadro figure .capa3{
color: #D4AC0D;
font-weight: 500;
margin-bottom: 120px;
transition: all 1000ms ease-out;

}
.cuadro figure:hover > img{
    transform: scale(1.1);
}
/*carrusel de imagenes*/

.slider-frame {
	width: 1000px;
    height: 300px;
	margin:50px auto 0;
	overflow: hidden;
   
}

.slider-frame ul {
	display: flex;
	padding: 0;
	width: 400%;
	
	animation: slide 20s infinite alternate ease-in-out;
}

.slider-frame li {
	width: 100%;
	list-style: none;
}

.slider-frame img {
	width: 100%;
    height: 100%;
}

@keyframes slide {
	0% {margin-left: 0;}
	20% {margin-left: 0;}
	
	25% {margin-left: -100%;}
	45% {margin-left: -100%;}
	
	50% {margin-left: -200%;}
	70% {margin-left: -200%;}
	
	75% {margin-left: -300%;}
	100% {margin-left: -300%;}
}

/* CUADROS PEQUEÑOS */
*{margin: 0;padding: 0;box-sizing: border-box; font font-family: "sans-serif";}
 .cuadro1 {
    width: 100%;
    display: flex;
   justify-content: center;
   align-items: center;
    height: 40vh;
   
}
.cuadro1 figure{
    position: relative;
    height: 250px;
    width: 350px;
    overflow: hidden;
    border-radius: 6px;
    box-shadow: 0px 15px 25px rgba(255, 39, 39, 0.5);
    cursor: pointer;
}
.cuadro1 figure img{
    width: 100%;
    height: 100%;
    transition: all 1500ms ease-out;
}
.cuadro1 figure .capa4{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100$;
    background: ;
    transition: all 500ms ease-out;
    opacity: 0;
    visibility: hidden;
}
.cuadro1 figure .capa5{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100$;
    background: ;
    transition: all 1000ms ease-out;
    opacity: 0;
    visibility: hidden;
}
.cuadro1 figure .capa6{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100$;
    background: ;
    transition: all 1000ms ease-out;
    opacity: 0;
    visibility: hidden;
    
}
.cuadro1 figure:hover > .capa4,
.cuadro1 figure:hover > .capa5,
.cuadro1 figure:hover > .capa6{
    opacity: 1;
    visibility: visible;
}
.cuadro1 figure:hover > .capa4 h2,
.cuadro1 figure:hover > .capa5 h2,
.cuadro1 figure:hover > .capa6 h2{
    margin-top: 100px;
    margin-bottom: 150px;
}
.cuadro1 figure .capa4,
.cuadro1 figure .capa5,
.cuadro1 figure .capa6{
color: #ffff;
font-weight: 400;
margin-bottom: 120px;
transition: all 500ms ease-out;

}
.cuadro1 figure:hover > img{
    transform: scale(1.1);
}



@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&family=Titillium+Web:wght@200;300;400;600;700&display=swap');
*{
    margin: 0;
    padding:0;
    font-family: 'Open Sans';
}
header{
    background: url(img/header.jpg);
    background-size: cover;
    background-position:center;
    height: 300px;
}
header h1{
    text-align: center;
    font-size: 35px;
    /* background-color: #000; */
    color: #fff;
    padding: 30px 0;
}
.contenedor{
    max-width: 1200px;
    padding: 10px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    /* oculto lo que queda fuera del .contenedor */
    contain: paint;
}
/* SECCION CONTENEDOR DE ITEMS */
.contenedor .contenedor-items{
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    grid-gap:30px;
    grid-row-gap: 30px;
    /* width: 60%; */
    width: 100%;
    transition: .3s;
}
.contenedor .contenedor-items .item{
    max-width: 200px;
    margin: 10px;
    border: 1px solid #666;
    border-radius: 10px;
    padding: 20px;
    transition: .3s;
}
.contenedor .contenedor-items .item .img-item{
    width: 100%;
}
.contenedor .contenedor-items .item:hover{
    box-shadow: 0 0 10px #666;
    scale: 1.05;
}
.contenedor .contenedor-items .item .titulo-item{
    display: block;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}
.contenedor .contenedor-items .item .precio-item{
    display: block;
    text-align: center;
    font-weight: bold;
    font-size: 22px;
}

.contenedor .contenedor-items .item .boton-item{
    display: block;
    margin: 10px auto;
    border: none;
    background-color: black;
    color: #fff;
    padding: 5px 15px;
    border-radius: 5px;
    cursor: pointer;
}
/* seccion carrito */
.carrito{
    border: 1px solid #666;
    width: 35%;
    margin-top: 30px;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: auto;
    position: sticky !important;
    top: 0;
    transition: .3s;
    /* Estilos para ocultar */
    margin-right: -100%;
    opacity: 0;
}
.carrito .header-carrito{
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 30px 0;
}
.carrito .carrito-item{
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    position: relative;
    border-bottom: 1px solid #666;
    padding: 20px;
}
.carrito .carrito-item img{
    margin-right: 20px;
}
.carrito .carrito-item .carrito-item-titulo{
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
    text-transform: uppercase;
}
.carrito .carrito-item .selector-cantidad{
    display: inline-block;
    margin-right: 25px;
}
.carrito .carrito-item .carrito-item-cantidad{
    border: none;
    font-size: 18px;
    background-color: transparent;
    display: inline-block;
    width:30px;
    padding: 5px;
    text-align: center;
}
.carrito .carrito-item .selector-cantidad i{
    font-size: 18px;
    width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #000;
    cursor: pointer;
}
.carrito .carrito-item .carrito-item-precio{
    font-weight: bold;
    display: inline-block;
    font-size: 18px;
    margin-bottom: 5px;
}
.carrito .carrito-item .btn-eliminar{
    position: absolute;
    right: 15px;
    top: 15px;
    color: #000;
    font-size: 20px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #000;
    cursor: pointer;
    display: block;
    background: transparent;
    z-index: 20;
}
.carrito .carrito-item .btn-eliminar i{
    pointer-events: none;
}

.carrito-total{
    background-color: #f3f3f3;
    padding: 30px;
}
.carrito-total .fila{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 10px;
}
.carrito-total .btn-pagar{
    display: block;
    width: 100%;
    border: none;
    background: #000;
    color: #fff;
    border-radius: 5px;
    font-size: 18px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    transition: .3s;
}
.carrito-total .btn-pagar:hover{
    scale: 1.05;
}

/* SECCION RESPONSIVE */
@media screen and (max-width: 850px) {
    .contenedor {
      display: block;
    }
    .contenedor-items{
        width: 100% !important;
    }
    .carrito{
        width: 100%;
    }
  }



  /* Estilo para los cuadros */
  cuadro {
      width: 100px;
      height: 100px;
      background-color: #db4734;
      margin: 10px; /* Margen entre los cuadros */
      float: left; /* Hace que los cuadros se coloquen uno al lado del otro */
  }


  /*PIE DE*/
  *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    }
    footer{
        background-color: rgb(0, 0, 0);
    }
    .footercontainer{
        width: 100%;
        padding: 70px 30px 20px;
    }
    .socialicons{
    display: flex;
    justify-content: center;
    }
    .socialicons a{
        text-decoration: none;
        padding: 10px;
        background-color: rgb(255, 255, 255);
        margin: 10px;
        border-radius: 50%;
    }
    
    .socialicons a i{
        font-size: 2em;
        color: black;
        opacity: 0.9;
    }
     /* efecto hover a iconos de redsocial*/
    .socialicons a:hover{
        background-color: rgb(241, 241, 241);
        transition: 0.5s;
    }
    
    .socialicons a:hover i{
        background-color: rgb(255, 255, 255);
        transition: 0.5s;
    }
    
    .footernav{
        margin: 30px;
    
    }
    
    .footernav ul{
        display: flex;
        justify-content: center;
        list-style-type: disc;
    }
    .footernav ul li a{
        color: aliceblue;
        margin: 20px;
        text-decoration: none;
        font-size: 1.3em;
        opacity: 0.7;
        transition: 0.5s;
    }
    .footernav ul li a:hover{
        opacity:1;
    }
    .footerbotton p{
        color:rgb(255, 255, 255) ;
    }
    .designer{
        opacity: 0.7;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight: 400;
        margin: 0px 5px;
    
    }
    
    @media (max-width: 700px){
    .footernav ul{
    flex-direction: colum;
    }
    
    .footernav ul li{
    width: 100%;
    text-align: center;
    margin: 10px;
    }
    
    }

    /*IMAGENES DE VISION*/
    .imagenes{
       text-align: center;
    }
    .visi{
        text-align:center;
     }

     #misi{
        text-align:justify;
     }
     #vision{
        text-align:justify;
     }
     #valores{
        text-align:justify;
        position: relative;
        right: -60px;
     }

     
     

    table {
        width: 60%; 
        border-collapse: collapse;
        text-align: center;
        margin: 0 auto; 
        border: none;
    }

    th, td {
        border: none;
        text-align: center;
        vertical-align: top;
        width: 33.33%; 
    }

    .imagenes {
        text-align: center;
    }

    .visi {
        text-align: justify;
     padding: 50px; 
        
    }

    /*imagenes carrusel */

.slider-box {
    width: 1280px;
    height: auto;
    margin: 50px auto 0;
}

.slider-box ul {
     display: flex;
     padding: 0;
     width: 400%;
     animation: slide 5s infinite alternate ease-in-out;
}

.slider-box li {
    width: 100%;
    list-style: none;
    position: relative;
}
 .slider-box img {
    width: 50%;
 }


 header nav a:nth-last-child(-n+2) {
    background: #4CAF50; /* Green background color */
    color: white;
    border-radius: 5px;
}





